<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<parameter name="email" value="shivaabe19@gmail.com" />
		<parameter name="password" value="siva2118@#$" />
		<parameter name="name" value="Hello" />
		<parameter name="description" value="This is my project" />
		<parameter name="tagname" value="Script" />
		<classes>
			<class name="org.Automated" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
